:root{
    --Bright-Blue: hsl(220, 98%, 61%);

    --Very-Light-Gray-L: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue-L: hsl(236, 33%, 92%);
    --Light-Grayish-Blue-L: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue-L: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue-L: hsl(235, 19%, 35%);

    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue-1: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue-2: hsl(237, 14%, 26%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-top{
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    background-image: url('./images/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
}

.bg-top-l{
    background-image: url('./images/bg-desktop-light.jpg');
}

body{
    background-color: var(--Very-Dark-Blue);
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.body-l{
    background-color: var(--Very-Light-Grayish-Blue-L);
}

.container {
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-task{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header{
    display: flex;
    justify-content: space-between;
    color: white;
}

header>h1{
    letter-spacing: 1rem;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.taskInp{
    border-radius: 10px;
    width: 100%;
    background-color: var(--Very-Dark-Desaturated-Blue);
    color: var(--Light-Grayish-Blue);
    border: none;
    font-size: 1.2rem;
    padding: 1rem 1rem 1rem 3.2rem;
    caret-color: var(--Bright-Blue);
}

.taskInp::placeholder{
    color: var(--Dark-Grayish-Blue);
}

.tasks{
    width: 100%;
    background-color: var(--Very-Dark-Desaturated-Blue);
    color: var(--Light-Grayish-Blue);
    border: none;
    border-radius: 10px;
}

.taskInp-l {
    border-radius: 10px;
    background-color: var(--Very-Light-Gray-L);
    color: var(--Very-Dark-Blue);
}

.taskInp-l>ul>li>div>p{
    color: var(--Very-Dark-Blue);
}

.taskInp-l>ul>li>div>span, .taskInp-l>span{
    background-color: var(--Very-Light-Gray-L);
}

.taskInp-l>ul>li>div>span:hover, .taskInp-l>span:hover {
    background-image: linear-gradient(var(--Very-Light-Gray-L)), radial-gradient(circle at top left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.taskInp-l>ul>li>div>span:active, .taskInp-l>span:active {
    background-image: linear-gradient(to left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.newTask{
    display: flex;
    align-items: center;
}

.newTask .checkmark{
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 1rem;
    position: absolute;
}

.tasks-list{
    color: var(--Light-Grayish-Blue);
    list-style: none;
    font-size: 1rem;
}

.listItem{
    border-bottom: 1px solid var(--Very-Dark-Grayish-Blue-1);
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.listItem div{
    display: flex;
    gap: 1rem;
}

.listItem div:hover ~ .cross{
    display: block;
}

.cross{
    display: none;
}

.listItem p:hover{
    cursor: pointer;
    color: var(--Very-Dark-Grayish-Blue-1);
    text-decoration: line-through;
}

.checkmark {
    display: inline-flex;
    border: solid 1px var(--Dark-Grayish-Blue);
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-radius: 100%;
}

.checkmark:hover{
    cursor: pointer;
    border-color: transparent;
    background-image: linear-gradient(var(--Very-Dark-Desaturated-Blue)), radial-gradient(circle at top left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.checkmark:active{
    background-image: linear-gradient(to left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.foot{
    display: flex;
    color: var(--Dark-Grayish-Blue);
    font-size: 1rem;
    justify-content: space-between;
    padding: 1.5rem;
    font-weight: 600;
}

#changeTheme:hover{
    cursor: pointer;
}

.foot>.func-desk{
    display: flex;
    gap: 1rem;
}

.foot .func-desk p:hover{
    cursor: pointer;
    color: var(--Light-Grayish-Blue);
}

.left, .clear{
    color: var(--Very-Dark-Grayish-Blue-1);
}

.foot-l .func-desk p:hover{
    color: var(--Bright-Blue);
}

.mobile-func{
    display: none;
}

@media screen and (max-width: 700px) {
    .container{
        width: 90vw;
    }

    .listItem{
        font-size: 1rem;
    }

    .checkmark{
        width: 1rem;
        height: 1rem;
    }

    .newTask .checkmark{
        width: 1rem;
        height: 1rem;
    }

    .foot{
        font-size: 0.8rem;
    }

    .taskInp{
        font-size: 1rem;
    }

    .cross{
        width: 1rem;
        height: 1rem;
    }
}

@media screen and (max-width: 475px) {
    .listItem {
            font-size: 0.9rem;
        }
    
        .checkmark {
            width: 0.9rem;
            height: 0.9rem;
        }
    
        .newTask .checkmark {
            width: 0.9rem;
            height: 0.9rem;
        }
    
        .foot {
            font-size: 0.8rem;
        }
    
        .taskInp {
            font-size: 0.9rem;
        }
    
        .cross {
            width: 0.9rem;
            height: 0.9rem;
        }
        
    .foot>.func-desk {
        display: none;
        gap: 1rem;
    }

    .mobile-func{
        display: flex;
        width: 100%;
        border-radius: 10px;
        padding: 1rem;
        background-color: var(--Very-Dark-Desaturated-Blue);
    }

    .mobile-func>ul{
        display: flex;
        font-size: 1rem;
        flex-direction: row;
        list-style: none;
        align-items: center;
        color: var(--Dark-Grayish-Blue);
        font-weight: 600;
        width: 100%;
        justify-content: space-around;
        height: 1rem;
    }

    .mobile-func li:hover {
        cursor: pointer;
        color: var(--Light-Grayish-Blue);
    }

    .mob-func-l{
        background-color: var(--Very-Light-Gray-L);
    }

    .mob-func-l ul li:hover {
        color: var(--Bright-Blue);
    }
}